:root {
    --display: block;
    --columns: 1fr;
    --rows: 1fr;
    --areas: none;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
    --btnW: 150px;
    --btnH: 75px;
    --inputW: 150px;
    --inputH: 75px;
}

@media (min-width: 768px) {
    /* :root {
        --display: grid;
        --columns: 1fr;
        --rows: auto auto 1fr;
        --areas: "title" "input" "workouts"; 


        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
    } */
    
    .workout-item {
        flex-direction: row;
    }
}

* {
    margin: 0;
    padding:0;
    text-align: center;
}

body {
    background-color: bisque;
}

input {
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: auto;
    height: var(--inputH);
    width: var(--inputW);
    font-size: 26px;
}

/* #workoutName {
    width: 350px;
} */

button {
    background-color: #04AA6D;
    width: var(--btnW);
    height: var(--btnH);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

button:disabled, button[disabled] {
    cursor: not-allowed;
}

.delete {
    background-color: red;
    margin-top: 10px;
}

#backBtn {
    background-color: red;
}

.start {
    background-color: greenyellow;
}

.pause {
    background-color: yellow;
}

.stop {
    background-color: crimson;
}

/* .title {
    grid-area: title;
    background-color: aqua;
} */

#workoutList {
    list-style: none;
    padding: 0;
    font-size: 26px;
}
  
.workout-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#controls {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 22px;
}

@media (min-width: 768px) {
    .workout-item {
        flex-direction: row;
    }
}

#instructions {
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* .logOut {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
} */
#workoutList {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
#workoutList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 10px; */
}
  
#workoutList li section {
    margin-left: auto;
}
  
#workoutList li section button {
    margin-left: 10px;
}

#username {
    width: 350px;
    height: 150px;
    font-size: 32px;
}

#signIn {
    height: 150px;
    width: 200px;
    font-size: 22px;
}

::placeholder {
    font-size: 22px;
}

#save {
    height: 100px;
    width: 200px;
    font-size: 22px;
}

#backBtn {
    margin-top: 50px;
    width: 300px;
    height: 200px;
    font-size: 22px;
}

#startBtn {
    margin-top: 50px;
    width: 300px;
    height: 200px;
    font-size: 22px; 
}

#stopBtn {
    margin-top: 50px;
    width: 300px;
    height: 200px;
    font-size: 22px; 
}

#pauseBtn {
    margin-top: 50px;
    width: 300px;
    height: 200px;
    font-size: 22px; 
}

#currentWorkoutList {
    font-size: 32px;
}

svg {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
}

.logOut {
    height: 150px;
    width: 350px;
    font-size: 22px;
}

h1 {
    font-size: 50px;
}

.timer svg {
    width: 100%;
    height: 100%;
}

#restDOM {
    font-size: 36px;
}

#setDOM {
    font-size: 36px;
}

#burn {
    font-size: 32px;
}

#desc {
    font-size: 26px;
}