@import 'reset.css';

:root {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    --display: block;
    --columns: 1fr;
    --rows: 1fr;
    --areas: none;
  
    --all: span;
    --border: black thin solid;
    --pad: 0em;
    --labFont: 1em;
    --pFont: small;
    --inputH: 1em;
    --inputW: 7em;
    --inputFont: 0.7em;
    --svgW: 800px;
    --svgH: 285px;
    --namePad: none;
    --btnW: 60px;
    --btnH: 30px;
    --height: 100vh;
    --width: 100vw;
    --featH: 16em;
}

@media (768px < width) {
    :root {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        --display: grid;
        --columns: 1fr;
        --rows: 2fr 2fr 0.7fr 1fr 1fr;
  
        --areas: "title title title"
        "head head head"
        "sets timer rest"
        "start pause stop"
        "foot foot foot";
        --all: span;
        --border: black thin solid;
        --pad: 0em;
        --labFont: 1em;
        --pFont: larger;
        --inputH: 50px;
        --inputW: 150px;
        --inputFont: 1em;
        --svgW: 800px;
        --svgH: 600px;
        --namePad: 0px;
        --btnW: 150px;
        --btnH: 50px;
        --featH: 35em;
    }
}

* {
    margin: 0;
    padding:0;
    text-align: center;
}

main {
    padding: var(--pad);
    margin: 0 auto;
    display: var(--display);
    grid-template-columns: var(--columns);
    grid-template-rows: var(--rows);
    grid-template-areas: var(--areas);
    gap: var(--gap);
    height: var(--height);
    width: var(--width)
}

.sets {
    grid-area: sets;
    background-color: bisque;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    flex: 1 1 auto;
}

.timer {
    grid-area: timer;
    background-color: bisque;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    flex: 1 1 auto;
}

.rest {
    grid-area: rest;
    background-color: bisque;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    flex: 1 1 auto;
}

.start {
    grid-area: start;
    background-color: greenyellow;
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex: 1 1 auto;
}

.pause {
    grid-area: pause;
    background-color: yellow;
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex: 1 1 auto;
}

.stop {
    grid-area: stop;
    background-color: red;
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex: 1 1 auto;
}

.head {
    grid-area: head;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    flex: 1 1 auto;
}

.title {
    grid-area: title;
    background-color: black;
    color: gold;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    flex: 1 1 auto;
}

li {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    border-radius: 10px;
    width: var(--inputW);
    height: var(--inputH);
}

button {
    background-color: #04AA6D;
    border-radius: 10px;
    color: white;
    width: var(--btnW);
    height: var(--btnH);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

.delete {
        background-color: #ff0000;
}

#finTime {
    padding-bottom: 10px;
}
