:root {
    --display: block;
    --columns: 1fr;
    --rows: 1fr;
    --areas: none;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: larger;
    --btnW: 150px;
    --btnH: 75px;
    --inputW: 200px;
    --inputH: 75px;
}

@media (min-width: 768px) {
    /* :root {
        --display: grid;
        --columns: 1fr;
        --rows: auto auto 1fr;
        --areas: "title" "input" "workouts"; 


        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
    } */
    
    .workout-item {
        flex-direction: row;
    }
}

* {
    margin: 0;
    padding:0;
    text-align: center;
}

body {
    background-color: bisque;
}

input {
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: auto;
    height: var(--inputH);
    width: var(--inputW);
}

#workoutName {
    width: 350px;
}

input:hover {
    background-color: scale-color(3e68ff, -20%);
    transition: 220ms all ease-in-out;
}

button {
    background-color: #04AA6D;
    width: var(--btnW);
    height: var(--btnH);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.1);
}

button:disabled, button[disabled] {
    cursor: not-allowed;
}

.delete {
    background-color: red;
    margin-top: 10px;
}

#backBtn {
    background-color: red;
}

.start {
    background-color: greenyellow;
}

.pause {
    background-color: yellow;
}

.stop {
    background-color: crimson;
}

/* .title {
    grid-area: title;
    background-color: aqua;
} */

#workoutList {
    list-style: none;
    padding: 0;
}
  
.workout-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#controls {
    margin-right: 10px;
}

@media (min-width: 768px) {
    .workout-item {
        flex-direction: row;
    }
}

#instructions {
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* .logOut {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
} */
#workoutList {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
#workoutList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}
  
#workoutList li section {
    margin-left: auto;
}
  
#workoutList li section button {
    margin-left: 10px;
}
